body {
    background: rgb(193, 214, 115);
    text-align: center;
    font-size: 60px;
    font-style: oblique;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}